extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 !{title}
        input#userId(type='hidden' value=currentUser)
        input#isAdmin(type='hidden' value=isAdmin)

        .card
          .card-header.card-info Messages
            if users
              select.pull-right.userList
                option(value="0" disabled selected) Please select user
                each user in users
                  option(id=user.id)=user.name
          .card-body
            #chat
            br
            form#send-message
              .input-group
                input#message.form-control.input-lg(type='text', placeholder='Message' name='message' aria-describedby="basic-addon2")
                span.input-group-btn
                  button.btn.btn-primary.sendBtn(type='submit') Send
